
<head>
  <title>HeiskaChat - Login</title>
</head>
<body>
  <div class="login">
    <form class="form-login" action="">
      <h2>LOGIN</h2>
      <br />
      <p>Login to your account.</p>
      <input id="username" placeholder="Username" autocomplete="off" /><br />
      <input id="password" placeholder="Password" type="password" autocomplete="off" /><br />
      <button>Login</button>
      <br /><br /><p>Don't have an account? Create your own now!</p>
      <a href="/users/signup">Sign Up</a>
    </form>
  </div>
</body>