<head>
    <title>HeiskaChat - Sign Up</title>
  </head>
  <body>
    <div class="login">
        <form class="form-login" action="/users/create">
            <h2>SIGN UP</h2>
            <br />
            <p>Login to your account.</p>
            <input id="username" placeholder="username" autocomplete="off" /><br />
            <input id="email" placeholder="email" type="email" autocomplete="off" /><br />
            <input id="password" placeholder="password" type="password" autocomplete="off" /><br />
            <button>Sign Up</button>
            <br /><br /><p>Already have an account?</p>
            <a href="/users/login">Login</a>
        </form>
    </div>
  </body>